.debugInfoBoxText
{
    position:absolute;
    opacity:1;
    font-size:25px;
    margin-left:-1140px;
}
.boxStorage
{
    display:none;
}
.reviewBox
{
    display:none;
    margin-bottom:20px;
    margin-top:20px;
    position:relative;
}
.boxbox
{
    transition:0.5s;
    margin-bottom:20px;
    margin-top:20px;
    position:relative;
    z-index:100;
}
.boxwrap
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    transition:0.5s;
}
.box {
    display: flex;
    flex-direction: row;
    width: 1000px;
    /* background-color: rgb(255, 254, 198); *//* SAMIRA */
    box-shadow: 0px 1px 2px 2px black;
    /* border: 1px inset brown; */
    border-radius: 16px;
    /* transform-origin: top left; *//* SAMIRA */
    /* transition: 0.5s; *//* SAMIRA */
    transform-origin: top left;
    transition:0.5s;
    position: absolute;
    transform: scale(0);
    background-color: aliceblue;    /* SAMIRA */
}

.text
{
    padding:10px;
    padding-left:20px;
    padding-top:20px;
    width:900px;
    font-size:25px;
    font-weight:400;
    text-align: left;
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* background-color: aliceblue;/* SAMIRA */ */
}
.buttonWrap
{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.button
{
    transition:0.1s;
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    margin-right:20px;
    height:60px;
    width:80px;
    /* background-color: darkgreen;*//* SAMIRA */
    background-color:burlywood;/* SAMIRA */
    box-shadow:0px 3px 4px 2px black;
    cursor:pointer;
    color:white;
    font-size:38px;
    /* font-weight:800; *//* SAMIRA */
    border-radius: 25%;

    opacity:0;

}
.button:hover
{
    color:white;
    /* background-color: darkred; *//* SAMIRA */
    background-color:darkgoldenrod;
    /* border:solid 2px black; */

}
.button:active
{
    box-shadow:0px 1px 2px 1px black;
    transform: translateY(2px);

}
.box1
{
    display:flex;

}
.box2
{
    display:none;

}
