.frame-A
{
    width:900px;
}
.frame-A-0
{
    display:flex;
    flex-direction: column;
    opacity:1;
}
.frame-A-0-0
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:20px;
}
.innerWrap
{
    opacity:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:0px 1px 2px 1px black;
}
.leftFace
{
    margin-right:10px;
}
.rightFace
{
    margin-left:10px;
}
.facePicture
{
    width:267px;
    height:400px;
    opacity:0;
}


/*--------------------------------*/
.frame-B-0
{
    display:flex;
    flex-direction: column;
    opacity:0;
}
.frame-B-0-0
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.iconButton {
    opacity: 0;
    height: 150px;
    border-radius: 100px;
    /* box-shadow: 0px 8px 4px 0px black; *//* SAMIRA */
    cursor: pointer;
    transition: 0.1s;
}
.iconButton:hover
{
    filter:brightness(0.5);
}
.iconButton:active
{
    transform:translateY(3px);
    box-shadow: 0px 5px 4px 0px black;
}
.leftButton
{
    margin-right:40px;
}
.rightButton
{
    margin-left:40px;
}

/*--------------------------------*/

.frame-C
{
    margin-top:-120px;
    z-index:1;
}
.frame-C-0
{
    display:flex;
    flex-direction: column;
    opacity:1;
}
.frame-C-0-0
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/*.transitionButton
{
    transition:0.2s;
    cursor:pointer;
    box-shadow: 0px 6px 8px 2px black;
    border-radius: 100px;
    width: 139px;
    padding-top: 15px;
    width: 233px;
    padding-top: 0px;
    padding-bottom:5px;
    font-size:60px;
    font-weight:700;
}*/
.transitionButton {
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 1px 2px 2px black;
    border-radius: 100px;
    width: 139px;
    padding-top: 15px;
    width: 200px;/* SAMIRA */
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: 48px;/* SAMIRA */
    font-weight: 600;/* SAMIRA */
}

.transitionButton:hover
{
    /* background-color: gray; *//* SAMIRA */
    background-color:darkgoldenrod;/* SAMIRA */
    color:white;
}
.transitionButton:active
{
    transform:translateY(3px);
    box-shadow: 0px 3px 5px 0px black;
}


/*--------------------------------*/

.step-2
{
    display:none;
    opacity:0;
    margin-top: 10%;
    transform-origin:top;
    transform:scale(0.8);
}
