.frame-A
{
    margin-top:30px;
    margin-bottom:25px;
}
.frame-A-0
{
    flex-direction: column;
}
.frame-A-0-0
{
    display:flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
}
.backButton
{
    height: 45px;
    width: 109px;
    text-align: center;
    box-shadow: 0px 1px 2px black;
    border-radius: 200px;
    /* background: #b9a3b9; */
    background-color: burlywood;
    color: white;
    font-size: 30px;
    font-weight: 100;
    transition:0.1s;
    opacity:0;
    transform:scale(0);
}
.backButton:hover
{
    cursor:pointer;
    background-color:darkgoldenrod;
}
.backButton:active
{
    transform:translateY(1px);
    box-shadow: 0px 0px 1px black;
}
.questionIndexText
{
    opacity:0;
    transition:1s;
    font-size: 40px;
    font-weight: 100;
}
.qIndex
{
    display:inline-block;
    width:50px;
}
/*--------------------------------*/

.frame-B
{

}
.frame-B-0
{
    display:flex;
    flex-direction: column;
}
.frame-B-0-0
{
    margin-left:15px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.question
{
    width:950px;
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    display:none;
}

.buttonWrap
{
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:25px;
    margin-top:0px;
    margin-left:35px;
    font-weight:100;
}
.button
{
    margin-bottom:10px;
    transition:0.2s;
    cursor:pointer;
    border-radius:100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:5px;
}
.button:hover
{
    background:black;
    color:white;
}
.button:active
{
    background:darkgreen;
}
.buttonWrap2
{
    margin-top: 40px;
    margin-bottom: 50px;
    font-size:25px;
    font-weight:100;
    flex-wrap: wrap;
    display: flex;
    gap: 25px 50px;
}
.button2
{
    transition:0.2s;
    cursor:pointer;
    border-radius:100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:5px;
}
.container-button-submit
{
    display:none;
    opacity:0;
    margin-top:30px;
    /* display: flex; */
    margin-top: 30px;
    flex-direction: row;
    justify-content: flex-end;
}
.button-submit
{
    width: 181px;
    text-align: center;
    box-shadow: 0px 1px 2px black;
    border-radius: 200px;
    /* background: #b9a3b9; */
    background-color: burlywood;
    color: white;
}
.button-submit:hover
{
    cursor:pointer;
    background-color:darkgoldenrod;
}
.button-submit:active
{
    transform:translateY(1px);
    box-shadow: 0px 0px 1px black;
}

/*--------------------------------*/

.frame-C
{
    display:none;
}
.frame-C-0
{
    display:flex;
    flex-direction: column;
}
.frame-C-0-0
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
